<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"flowcraft/hero"} /-->
	<!-- wp:pattern {"slug":"flowcraft/services"} /-->
	<!-- wp:pattern {"slug":"flowcraft/about"} /-->
	<!-- wp:pattern {"slug":"flowcraft/portfolio"} /-->
	<!-- wp:pattern {"slug":"flowcraft/testimonials"} /-->
	<!-- wp:pattern {"slug":"flowcraft/contact"} /-->
	<!-- wp:pattern {"slug":"flowcraft/cta"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
